@inject NavigationManager Nav

<ul class="ts-nav">
    <li>
        <NavLink href="/" Match="NavLinkMatch.All">
            <i class="bi bi-speedometer2"></i> Dashboard
        </NavLink>
    </li>

    <li class="ts-nav-group">COMERCIAL</li>
    <li>
        <NavLink href="/clientes">
            <i class="bi bi-people"></i> Clientes
        </NavLink>
    </li>
    <li>
        <NavLink href="/facturas">
            <i class="bi bi-receipt"></i> Facturas
        </NavLink>
    </li>
    <li>
        <NavLink href="/cuentas-por-cobrar">
            <i class="bi bi-cash-stack"></i> Por cobrar
        </NavLink>
    </li>

    <li class="ts-nav-group">INVENTARIO</li>
    <li>
        <NavLink href="/productos">
            <i class="bi bi-box-seam"></i> Productos
        </NavLink>
    </li>
    <li>
        <NavLink href="/categorias">
            <i class="bi bi-tags"></i> Categorías
        </NavLink>
    </li>
    <li>
        <NavLink href="/proveedores">
            <i class="bi bi-truck"></i> Proveedores
        </NavLink>
    </li>

    <li class="ts-nav-group">GASTOS</li>
    <li>
        <NavLink href="/egresos">
            <i class="bi bi-arrow-down-circle"></i> Egresos
        </NavLink>
    </li>

    <li class="ts-nav-group">REPORTES</li>
    <li>
        <NavLink href="/reportes">
            <i class="bi bi-bar-chart-line"></i> Reportes
        </NavLink>
    </li>

    <li class="ts-nav-group">ADMIN</li>
    <li>
        <NavLink href="/configuracion">
            <i class="bi bi-gear"></i> Configuración
        </NavLink>
    </li>
</ul>

